@font-face {
    src: url("Poppins-Bold.ttf");
    font-family: "Poppins-Bold";
}

@font-face {
    src: url("Poppins-Regular.ttf");
    font-family: "Poppins-Regular";
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url("./img/Group 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__first{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__first_title{
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins-Bold", serif;
    color: white;
    width: 100%;
}

.container__first_title_one{
    font-size: 1.5rem;
    text-align: left;
    width: 70%;
}

.container__first_title_two{
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    width: 70%;
}

.container__first_button{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 25%;
}

.container__first_button button{
    font-family: "Poppins-Bold", sans-serif;
    width: 80%;
    height: 2.3rem;
    border-radius: 6px;
    font-weight: 700;
    color: #00308E;
}

.container__first_img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 35%;
}

.container__first_img img{
    width: 148px;
    height: 148px;
}

.container__first_crypto{
    font-family: "Poppins-Bold", sans-serif;
    font-size: 0.8rem;
    height: 15%;
    display: flex;
    align-items: center;
    color: white;
}

.container__first_crypto_div{
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    font-family: "Poppins-Bold", sans-serif;
    color: white;
}

.container__first_crypto_div h1{
    font-size: 1.8rem;
}

.container__first_crypto_div span{
    font-size: 0.8rem;
}

.container__first_input{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container__first_input input{
    width: 80%;
    height: 2.2rem;
    text-indent: 3rem;
    background: rgba(255, 255, 255, 0.35) url("./img/do-utilizador 1.png") no-repeat 5px;
    color: white;
    font-family: "Poppins-Regular", sans-serif;
    border-radius: 4px;
    border-width: 0;
}

.container__first_input input::placeholder{
    color: white;
}

.container__first_input input:focus{
    outline: none;
}

.container__first_click{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.container__first_click button{
    font-family: "Poppins-Bold", sans-serif;
    width: 100%;
    height: 2.3rem;
    border-radius: 6px;
    font-weight: 700;
    color: #00308E;
}

.container__first_message{
    display: flex;
    flex-direction: column;
    /*background-color: white;*/
    border-radius: 10px;
}

.container__first_message textarea{
    background-color: rgba(255, 255, 255, 0.73);
    font-family: "Poppins-Bold", sans-serif;
    font-size: 1.1rem;
    border-radius: 6px 6px 0 0;
}

.container__first_message textarea:focus{
    border-color: white;
    outline: none;
}

.container__first_message button{
    font-family: "Poppins-Bold", sans-serif;
    width: 100%;
    height: 2.3rem;
    /*border-radius: 6px;*/
    font-weight: 700;
    color: #00308E;
}